#ovfx_page ~ .widget-frame,
#ovfx_page + table,
#ovfx_page ~ table,
#ovfx_page ~ .bab_toolbar,
.bab_toolbar ~ table,
.bab_toolbar ~ form,
#ovfx_page ~ .BabLoginCadreBackground,
#ovfx_page ~ form,
#ovfx_page ~ .bab_SearchResults,
#ovfx_page ~ p{
	@extend .container;
}

h2, p {
	font-size:18px !important;
}

.bab_repeat{
	width:1140px;
	margin: 0 auto;
}
 
.myIcons{
	display:flex;
	justify-content: space-between;
}

.linkSize {
	line-height:1;
	display:block;
	text-align:center;
}
 
.iconique { 
	border-radius:50%; 
	background-position: center;
	background-repeat: no-repeat; 
	margin:10px;
}
.editlinks-hoverbutton {
	position: relative !important;
	z-index: 4 !important;
} 

.hoverMe {
	display:none;
	font-weight:bold;
	background-color: rgba(0,0,0,0.0);  
    -webkit-transition-property: background-color; /* Safari */
    -webkit-transition-duration: 5s; /* Safari */
    -webkit-transition-delay: 0; /* Safari */
    transition-property: background-color;
    transition-duration: 1000ms;
    transition-delay: 500ms;	
}
.iconique a:hover {
	transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: box-shadow, transform;
}  

.iconique a:hover .hoverMe {
	display:block;
	color:#fff;
	background-color: rgba(0,0,0,0.6);  
	border-radius:50%; 
	background-position: center; 
	background-repeat: no-repeat;
}

.index-page .page-header {
	height: 100vh; 
}

@media screen and (max-height: 670px) {
	.index-page .page-header {
		height: 100vh;
	}
	
	.main-raised {
		margin: -25px 30px 0px !important;
	}	
}

.titleicon {
	max-width:132px;
}

.content .column
/************Filter Icons*****************/

/* Add padding BETWEEN each column (if you want) */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 140px;
    display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
}

a:hover .content {
	padding-top:0 !important;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Add a grey background color on mouse-over */
.btn:hover {
  background-color: #ddd; 
}

/* Add a dark background color to the active button */
.btn.active {
  background-color: #666;
   color: white;
}

.navbar .navbar-brand {
	height: 85px!important;
	background-image: url(../images/logonb.png) !important;
	width:280px;
	background-repeat: no-repeat;

}

.navbar.navbar-transparent .navbar-brand {
	background-image: url(../images/logo.png) !important;
} 

.navbar > .container, .navbar > .crm-page {
	flex:0 0 1 !important;
	flex-basis: auto !important;
}


.portlets-edit-mode .bab-portlet-container.portlets-configurable {
	min-width:100px;
}


.bab-portlets-container-social-network .nav-item {
	float:left;
}
 
.bab-portlets-container-social-network .widget-layout, 
.bab-portlets-container-social-network .widget-frame.portlet-frame{
	margin:0 !important;	
}
 
select {
	height: auto;
}

.bab-portlets-container-section-1 h2,
.bab-portlets-container-section-1 p{
	padding:20px !important;
	color:#777;
}

.BabTopicsTitleBackground {
	font-size:18px;
	font-weight:bold;
}

.section-tabs {
	background: #EEE;
}

#find h1.title {
	display:none;
}


.card .card-header {
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(111, 66, 193, 0.60) !important;
    background: linear-gradient(45deg, rgba(183, 162, 224, 1) 0%, rgba(155, 123, 213, 1) 100%);
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    color: #fff;
}

.fader {
	color: #fff;
	font-size:18px;
}
.fader:hover {
	color: #fff;
}

.edito-fader {
	font-size:18px;
}

.hideMe {
	display:none;
}

.edito-fader a {
	color:#777;
	font-style: normal !important;
}

.associatedImg {
	float:left;
	max-width:225px;
	margin-right:15px;
}

.myApp {
	position:fixed;
	top:185px;
	right:30px;
	z-index:10;
	animation: bounce 1s ease 2s;
}

@keyframes bounce{
     from {top: 185px;}
     50%  {top: 155px;}
     to   {top: 185px;}  
}
