/*** WIDGETS ***/
/* BUTTONS */
.positionHelper {
	z-index: 10001;

}

.widget-actionbutton,
.widget-button,
.widget-submitbutton,
.widget-filepicker-add, {
    @extend .btn;
}

.widget-actionbutton,
.widget-button,
.widget-filepicker-add {
    @extend .btn;
}

.widget-submitbutton {
    @extend .btn-primary;
}


.widget-lineedit,
.widget-select,
.widget-checkbox,
.widget-textedit,
.widget-datepicker,
.widget-multiselect,
input:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]),
select {
    @extend .form-control;
}
.widget-checkbox,
input[type=checkbox] {
    width:16px !important;
    height:16px !important;
    min-height:16px !important;
}

.widget-menu-button {
    @extend .btn;
}


.widget-label {
    display: inline;
}

html .widget-list-element {
     @extend.list-group-item;
}

.widget-bordered {
     @extend .border;
}


/* TOOLBAR */
.widget-toolbar {
    @extend .btn-toolbar;
}
.widget-toolbar > .widget-layout {
    @extend .btn-group;
}

.widget-toolbar:not(.crm-locationbar) > .widget-layout > .widget-layout-flow-item {
    @extend .btn;
}



.section-header-tag {
    @extend .badge
} 

/*
.widget-toolbar {
    @extend .navbar, .navbar-default;
}
*/


.crm-locationbar {
    @extend .breadcrumb;
    
}
.crm-locationbar > .widget-layout > * {
    @extend .breadcrumb-item;
}


/* TABLEVIEW */

.widget-tableview .widget-layout-grid {
     @extend .table, .table-striped, .table-hover;
}
.widget-tableview .widget-layout-grid thead > tr > td {
    font-weight: bold;
}

/* PAGINATION */
.widget-pageselector {
    @extend .pagination;
}
.widget-pageselector .widget-page-previous,
.widget-pageselector .widget-page-next {
    @extend .page-item;
}

.widget-pageselector .widget-page-number,
.widget-pageselector .widget-page-number-current,
.widget-pageselector .widget-page-previous,
.widget-pageselector .widget-page-next {
    @extend .page-item, .page-link;
}
.widget-pageselector .widget-page-number,
.widget-pageselector .widget-page-number-current,
.widget-pageselector .widget-page-next {
    margin: 0 0 0 -1px;
}

  

/*** JQUERY ***/

.ui-state-default {
}

.ui-multiselect.ui-state-default {
    @extend .form-control;
}

.ui-multiselect-menu {
    @extend .dropdown-menu;
}

.ui-multiselect-checkboxes > li > label > span {
    vertical-align: middle;
}

.ui-multiselect-checkboxes > li > label > input {
    vertical-align: middle;
    margin: 0px 5px 0 5px;
}

.ui-multiselect {
	@extend .form-control;
}

.ui-widget, 
.ui-widget input, 
.ui-widget select,
.ui-widget textarea, 
.ui-widget button {
	font-family:$font-family-base;
}

.ui-tabs-nav {
	@extend .nav;
}




.ui-state-active a {
	color: #a21a5c !important;
	border: 1px solid #ddd !important;	
	border-top: #888 3px solid !important;
	border-top-color: #a21a5c !important;	
	border-bottom-color: transparent !important;  
}

.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover {
    background: #fff !important;
}





/******* LEGACY *******/

.BabLoginMenuBackground input[type=submit],
.BabLoginMenuBackground input[type=button],
.BabLoginMenuBackground button {
     @extend .widget-submitbutton;
}

/*** TABLES ***/

 
table.BabLoginCadreBackground > tbody > tr > td > table.BabLoginMenuBackground,     /* In favorites / applications */
td.BabLoginCadreBackground > table.BabLoginMenuBackground                           /* In many other places */
{
     @extend .table;
     > tbody > tr > td {
        border-top: none;
    }
}
 

.BabLoginCadreBackground > table:not(.BabLoginMenuBackground) {
    @extend .table;
}

 
.crm-page,  {
    @extend .container
}

.search .section.section-basic,
.bab_SearchResults,
form[name="searchForm"]
 {
	@extend .container
}

.navbar-nav > li {
    @extend .nav-item;
} 

.navbar-nav a {
    @extend .nav-link;
} 

.nav-tabs li {
    @extend .nav-item;
}
.nav-tabs li a {
    @extend .nav-link;
} 
.nav-tabs li.active a {
    @extend .nav-link, .active;
}

.bab_toolbarItem {
    @extend .btn;
} 


.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable {
	z-index:10000 !important;

}