<OFPutVar name="babSkin">
<OFPutVar name="babHtmlEntities" value="1">


<div class="row d-flex justify-content-center">
	<ul class="nav nav-pills nav-pills-icons flex-column myApp" role="tablist">
	    <!--
	        color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
	    -->
	    <li class="nav-item">
	        <a class="nav-link active bg-green" href="#" role="tab" data-toggle="tab">
	            <i class="material-icons">dashboard</i>
	            Applications
	        </a>
	    </li>
	</ul>
</div>
<div class="container">
	<OFPortletContainer id="section-0" mode="locked">
</div>

<div class="container">
	<OFPortletContainer id="section-1" mode="locked">
</div>

<section class="section">
	<div class="container">
		<OFPortletContainer id="section-3">
	</div>
</section>